<body style="background-color:blueviolet">
    <h1 style="color:wheat">Welcome to the awesome movie-collection-app!</h1>

    <img src="movie-collection-pic.jpg"> <br>

    <button onclick="window.location.href='/movies-table/';" style="color:purple">Take me to the movies!</button> 

    <button onclick="window.location.href='/directors-table/';" style="color:purple">Take me to the directors!</button>

    <button onclick="window.location.href='/actors-table/';" style="color:purple">Take me to the actors!</button>
  
</body>